body{
    background: #000;
}
.image-area{
    display:grid;
    grid-template-columns: repeat(6, auto);
    overflow: hidden;
    margin: 46px;
    height: 336px;
}
.single-image img{
    height:250px;
}
.single-image{
    z-index: 1;
    opacity: inherit;
    transition: .5s cubic-bezier(0.075, 0.82, 0.165, 1);
    cursor:pointer;
}
.single-image:hover{
    transform: scale(1.05);
    z-index: 2;
    opacity: 1;
}
.button-right{
    /*float: right;*/
    right: 0;
    border-radius:5px 0 0 5px;
}
.button-left{
    float: left;
    border-radius:0 5px 5px 0;
    left: 0;
}
.button-right, .button-left{
    position: absolute;
    padding:22px;
    background:rgba(255,255,255,.3);
    padding-top:30px;
    padding-bottom:30px;
    cursor:pointer;
    top: 50%;
    color: white;
    font-size: 20px;
    user-select: none;
    -moz-user-select: none;
    z-index: 4;
    transition: .5s cubic-bezier(0.075, 0.82, 0.165, 1);
}
.button-right:hover, .button-left:hover{
    background:rgba(255,255,255,.8);
    color: black;
}
.controller-wrapper{
    position: relative;
    margin: auto;
}
.single-image {
    float: left;
    padding: 5px;
    position: relative;
}
.opacity-block{
    opacity: 0.5;
    transform: scale(1);
}
.dot-selected-area{
    position: absolute;
    margin: 0px;
    display: grid;
    grid-auto-columns: auto;
    grid-auto-flow: column;
   /*height: inherit;*/
    width: 20%;
    justify-items: center;
    align-items: flex-end;
    transform: translate(-42%,0);
    left: 50%;
    list-style-type: none;
    top: 279px;
    z-index: 3;
    bottom: 0;
}
.picture-dot{
    width:10px;
    height:10px;
    background: #ffffff;
    position: relative;
    border-radius:50px;
    margin:5px;
    float: left;
}
.dot-class{
    cursor:pointer;
}
.picture-empty-dot{
    width:10px;
    height:10px;
    background: none;
    position: relative;
    border-radius:50px;
    margin:5px;
    float: left;
    border:1px solid #fff;
    transition: .5s cubic-bezier(0.075, 0.82, 0.165, 1);
}
.descriptionArea-large{
    position: absolute;
    color:#ffffff;
    padding: 30px;
    display: grid;
    width: auto;
    justify-content: flex-start;
    align-self: unset;
    align-content: end;
    bottom: 0;
    z-index: 5;
}
.descriptionArea{
    position: absolute;
    color:#ffffff;
    padding: 10px;
    bottom: 0;
}
.descriptionArea h2, .descriptionArea-large h2{
    font-size: 20px;
    font-weight:800;
}
.descriptionArea p, .descriptionArea-large p{
    font-size:14px;
}
.picture-empty-dot:hover{
    background: rgba(255,255, 255, .6);
}
.gallary-show-wrapper img{
    padding: 10px;
    width: 95%;
    display: block;
    margin: auto;
}
.zoom-sign{
    color: #fff;
    font-size: 41px;
    position: absolute;
    bottom: 0;
    right: 0;
    padding: 20px;
    cursor:pointer;
    user-select: none;
    -moz-user-select: none;
    margin-right: 15px;
    margin-bottom: 10px;
    transition: .5s cubic-bezier(0.075, 0.82, 0.165, 1);
}
.zoom-sign:hover{
    transform: scale(1.2);
}
.gallary-show-wrapper{
    -webkit-animation-name: come-in;
    -webkit-animation-duration: .5s;
    animation-name: come-in;
    animation-duration: .5s;
    overflow: hidden;
    height: 100vh;
}
@-webkit-keyframes come-in {
    0% {transform: scale(0.5)}
    80% {transform: scale(1.1)}
    100% {transform: scale(1)}
}
@keyframes come-in {
    0% {transform: scale(0.5)}
    80% {transform: scale(1.1)}
    100% {transform: scale(1)}
}
.border-area{
    background:rgba(0,0,0,.7);
    width:100%;
    height:100vh;
    position: absolute;
    top: 0;
    z-index: 5;
}
.descriptionArea-large{
    overflow: hidden;
}
.apear-pictures{
    -webkit-animation-name: fade;
    -webkit-animation-duration: 1.5s;
    animation-name: fade;
    animation-duration: 1.5s;
    z-index: 3;
}
@-webkit-keyframes fade {
    from {opacity: .2;}
    to {opacity: 1;}
}
@keyframes fade {
    from {opacity: .2;}
    to {opacity: 1;}
}
.close-btn{
    float:right;
    width:50px;
    height:50px;
    background: #000;
    cursor:pointer;
    color:#fff;
    font-size: 33px;
    text-align: center;
    user-select: none;
    -moz-user-select: none;
}